#add-cert-box{
    top: 10px;
    left: 20%;
    width: 60%;
    opacity: 1;
    background: #ffff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 6px 15px 6px rgba(0, 0, 0, 0.19);
}

#add-cert-form {
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
}

form{
margin-left: 27%;
margin-right: 25%; 
width: 50%;
}

.issuer-form{
margin-left: 5%;
margin-right: 5%; 
width: 90%;
}
.certificate-type-radio-button {
margin-left: 10px;
}

.issuer-form td{
    width: 40%;
}

.medium-form-filed {
width: 90%;
margin-left: 2%;
}