<mat-card class="admin-profile-box">
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            {{node.type}} <b>&nbsp;{{node.commonName}}</b>
            &nbsp;
            <span *ngIf="node.commonName !== 'No certificates were found'">
            <span class='active-node' *ngIf="!node.revoked">
                active
            </span>
            <span class='revoked-node' *ngIf="node.revoked">
                    revoked
            </span>
            <button *ngIf="node.revoked == false"  class="form-btn" (click)="confirmRevocation(node.serialNumber, node.commonName)" 
              mat-stroked-button color="primary">Revoke</button>
              </span>
          </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.commonName">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              {{node.type}} <b>&nbsp;{{node.commonName}}</b>
              &nbsp;
              <span class='active-node' *ngIf="!node.revoked">
                    active
                </span>
                <span class='revoked-node' *ngIf="node.revoked">
                        revoked
                </span>
                <button *ngIf="node.revoked == false"  class="form-btn" (click)="confirmRevocation(node.serialNumber, node.commonName)" 
              mat-stroked-button color="primary">Revoke</button>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
</mat-card>